<h1>Create New Post</h1>

<div>
  <div>
    <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "New Title", size: "60x1" %>
  </div>
  <div>
    <%= f.text_area :body, size: "60x12", placeholder: "Blog post..." %>
  </div>
  <div>
    <%= f.submit "Create" %>
  </div>
    <% end %>
</div>